.title {
  font-size: 32pt;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #d1a7ff;
  text-align: center;
  background-color: antiquewhite;
}

body {
  background-color: #dfc5fa;
}

.doneButton {
  background-color: rgb(142, 241, 142);
  font-size: 10pt;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
}

.deleteButton {
  background-color: rgb(251, 79, 165);
  font-size: 10pt;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
}

#list {
  background-color: antiquewhite;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-decoration-style: dotted;
}
